<h1>Post#new</h1>
<p>Find me in app/views/post/new.html.erb</p>
<form action="/post/create">

제목 : <input type="text" name="title"> <br/>
내용 : <input type="text" name="content"> <br/>
<input type="submit">
</form>
