<h1>Login page</h1>
<p>Login Process will be followed</p>
<form action="/user/login_process">
  EMAIL : <input type="text" name="email"> <br/>
  PASSWORD <input type="password" name="password"> <br/>
<input type="submit">
</form>
