<h1>User#new</h1>
<p>Find me in app/views/user/new.html.erb</p>
<form action="/user/create">

EMAIL : <input type="text" name="email"> <br/>
PASSWORD <input type="password" name="password"> <br/>
<input type="submit">
</form>
